.template-navbar {
    background-color: gray;
}

.template-navbar a {
    color: inherit;
}

.template-navbar a:hover {
    text-decoration: inherit;
}

.template-navbar h1 {
    text-align: center;
    font-size: 40px;
    padding: 5px;
    margin: 0px;
    vertical-align: middle;
}

.template-navbar .navbar-button {
    text-align: center;
    height: 100%;
}

.template-navbar .navbar-button a {
    color: inherit;
}

.template-navbar .navbar-button  i {
    padding: 10px; 
    font-size: 40px;
}
