<template name="navbar">
    <div class="template-navbar row white">
        <div class="col-xs-3 col-md-1 navbar-button">
            <a href="/search">
                <i class="fa fa-qrcode"></i>
            </a>
        </div>
        <div class="col-xs-6 col-md-10">
            <h1><a href="/">Clean QR</a></h1>
        </div>
        <div class="col-xs-3 col-md-1 navbar-button">
            <a href="/dashboard">
                <i class="fa fa-user"></i>
            </a>
        </div>
    </div>
</template>
