.template-home {
    height: 100%;
    width: 100%;
    display: table;
}

.template-home > h1 {
    font-size: 60px;
    text-align: center;
}

.template-home > * {
    display: table-row;
}

.template-home > * > * {
    display: table-cell;
    vertical-align: middle;
}
