@import url(https://fonts.googleapis.com/css?family=Dosis);

#main {
    height: 100vh;
}

#navbar {
    height: 60px;
}

#content {
    height: calc(100% - 60px);
}

#content > * {
    height: 100%;
}

body {
    font-family: 'Dosis', sans-serif;
}

.stamford-blue {
    color: #0083C8;
}

.stamford-blue-bg {
    background-color: #0083C8;
}

.stamford-gray {
    color: #E5E5E5;
}

.stamford-gray-bg {
    background-color: #E5E5E5;
}

.stamford-green {
    color: #80B636;
}

.stamford-green-bg {
    background-color: #80B636;
}

.white {
    color: #FFF;
}
