@import url(https://fonts.googleapis.com/css?family=Dosis);

body {
    font-family: 'Dosis', sans-serif;
}

.stamford-blue {
    color: #0083C8;
}

.stamford-blue-bg {
    background-color: #0083C8;
}

.stamford-gray {
    color: #E5E5E5;
}

.stamford-gray-bg {
    background-color: #E5E5E5;
}

.stamford-green {
    color: #80B636;
}

.stamford-green-bg {
    background-color: #80B636;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}