.template-task {
    display: table;
    width: 100%;
    height: 100%;
}

.template-task > * {
    display: table-row;
}

.template-task > * > * {
    vertical-align: middle;
    display: table-cell;
}

.template-task form {
    position: absolute;
    left: -999em;
}

.template-task h1 {
    text-align: center;
}

.template-task .reward {
    font-size: 35px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.template-task .reward .amount {
    float: right;
}

.template-task .description {
    font-size: 20px;
    text-align: center;
}
