<template name="taskCard">
	<div class="template-task-card container-fluid">
		<div class='row'>
			<div class='col-xs-12'>
				<h1>Clean up the Innovation Center - <span>$15</span></h1>				
			</div>
		</div>

		<div class='row'>
			<div class='col-xs-12 col-sm-5'>
				<img src="stamford-icenter.jpg" />
			</div>

			<div class='col-xs-12 col-sm-7'>
				<p>The Stamford Innovation Center is extremely messy and needs a thorough cleaning.  There is tons of garbage littering the area and grafitti spray-painted on the walls.</p>
			</div>
		</div>
	</div>
</template>