<template name="taskCard">
	<div class="template-task-card">
		<div class='row'>
			<div class='col-xs-6 col-sm-3' id='task-card-image'>
				<img src="stamford-icenter.jpg" />
			</div>
			<div class='col-xs-6 col-sm-9' id='task-card-info'>
				<h1>Clean up the Innovation Center</h1>
				<h2>Reward: <span>$15</span></h2>
				<p>The Stamford Innovation Center is extremely messy and needs a thorough cleaning.  There is tons of garbage littering the area and grafitti spray-painted on the walls.</p>
			</div>
		</div>
	</div>
</template>